#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

